@font-face {
    font-family: 'MyFont';
    src: url('./NotoSans-Regular.ttf') format('ttf'),
    url('./SourceCodePro-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    background: url('./project.svg') no-repeat;
    font-family: 'MyFont', monospace;
}
